.button {
    text-align: center;
    box-shadow: 0 0 3px 3px var(--light-shadow);
    background-color: var(--white);
    color: var(--very-dark-blue-text);
}

.buttonDarkMode {
    box-shadow: 0 0 3px 3px var(--dark-shadow);
    background-color: var(--dark-blue);
    color: var(--white);
}

.backButton{
    display: block;
    margin: 50px 0;
    width: 100px;
    padding: 5px 20px;
    background-image: url("/left-arrow.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 10px 8px;    
}

.backButtonDarkMode{
    background-image: url("/left-arrow-dark-mode.svg");
}

.countryDetails{
    display: flex;
    color: var(--very-dark-blue-text);
}

.countryDetailsDarkMode{
    color: var(--white);
}

.flagImg{
    display: block;
    max-width: 400px;
    height: 250px;
    border-radius: 0%;
}

.countryInfoWrapper{
    margin-left: 50px;
    height: 250px;
    padding: 20px 0;
}

.name{
    font-size: 20px;
    margin-bottom: 20px;
}

.nativeName,
.population,
.region,
.subRegion,
.capital,
.domain,
.currencies,
.languages{
    font-size: 14px;
    margin-bottom: 5px;
}

.columnsWrapper{
    width: 100%;
    display: flex;
    gap: 50px;
}

.borderCountriesWrapper{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.borderCountriesText{
    display: block;
    font-size: 14px;
}

.borderCountry{
    display: block;
    padding: 1px 20px;
    font-size: 14px;
}

@media (max-width: 992px){
    .countryDetails{
        flex-direction: column;
        align-items: center;
    }

    .countryInfoWrapper{
        margin-left: 0;
        max-width: 400px;
    }

    .borderCountriesWrapper {
        padding-bottom: 30px;
    }

}

@media (max-width: 576px){
    .flagImg{
        width: 100%;
    }

    .countryInfoWrapper{
        width: 100%;
    }

    .columnsWrapper{
        flex-direction: column;
        margin-bottom: 20px;
    }
}