.filterBar {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.input {
    width: 300px;
    background-image: url("/loupe.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px 10px;
}

.input,
.dropdown {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px var(--light-shadow);
    background-color: var(--white);
}

@media (max-width: 576px) {
    .filterBar {
        flex-direction: column;
        gap: 20px;
    }

    .input,
    .dropdown {
        width: 200px;
    }
}