.mainNav {
    padding: 10px 0 15px;
    background-color: var(--white);
    color: var(--very-dark-blue-text);
    box-shadow: 0 3px 5px -2px var(--light-shadow);
}

.flex{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.modeChanger{
    cursor: pointer;
}

.img{
    width: 16px;
    height: 16px;
}

.txt {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}